{
    "plugins": [
        "syntax-dynamic-import",
        "transform-runtime",
        "transform-vue-jsx"
    ],
    "presets": [
        ["es2015", {"loose": true, "modules": false}],
        "stage-3"
    ]
}
